<p>botones works!</p>

<p-button icon="pi pi-home" aria-label="Save" />
<br>
<br>
<p-button label="Profile" icon="pi pi-user" />
<br>
<br>
<br>
<p-button label="Save" icon="pi pi-check" iconPos="right" />
<br>
<br>
<br>
<p-button label="Search" icon="pi pi-search" iconPos="top" />
<br>
<br>
<br>    
<p-button label="Update" icon="pi pi-refresh" iconPos="bottom" />

<br>
<br>
<p-button label="Primary" />
<br>
<br>
<br>
<p-button label="Secondary" severity="secondary" />
<br>
<br>
<br>
<p-button label="Success" severity="success" />
<br>
<br>
<br>
<p-button label="Info" severity="info" />
<br>
<br>
<br>

<p-button label="Help" severity="help" />
<br>
<br>
<br>
<p-button label="Danger" severity="danger" />
<br>
<br>
<br>
<p-button label="Contrast" severity="contrast" />