<p>matricez works!</p>
<h1>Matriz de 3x3</h1>

<div class="grid">
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">1</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">2</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">3</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">4</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">5</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">6</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">7</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">8</div>
  </div>
  <div class="col-4">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">9</div>
  </div>
</div>

<h1>Matriz de 4x4</h1>
<div class="grid grid-nogutter">
  
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">1</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">2</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">3</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">4</div>
  </div>

  
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">5</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">6</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">7</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">8</div>
  </div>

 
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">9</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">10</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">11</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">12</div>
  </div>

  
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">13</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">14</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">15</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">16</div>
  </div>
</div>
<h1>Matriz de 5x5</h1>
<div class="grid grid-nogutter">
  
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">1</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">2</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">3</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">4</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">5</div>
  </div>

  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">6</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">7</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">8</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">9</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">10</div>
  </div>

 
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">11</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">12</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">13</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">14</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">15</div>
  </div>

  
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">16</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">17</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">18</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">19</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">20</div>
  </div>

  
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">21</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">22</div>
  </div>
  <div class="col-3">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">23</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">24</div>
  </div>
  <div class="col-2">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">25</div>
  </div>
</div>

<h1>Matriz de 6x6</h1>

<div class="grid grid-nogutter">
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">1</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">2</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">3</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">4</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">5</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">6</div></div>

  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">7</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">8</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">9</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">10</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">11</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">12</div></div>

  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">13</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">14</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">15</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">16</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">17</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">18</div></div>

  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">19</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">20</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">21</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">22</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">23</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">24</div></div>

  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">25</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">26</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">27</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">28</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">29</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">30</div></div>

  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">31</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">32</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">33</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">34</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">35</div></div>
  <div class="col-2"><div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">36</div></div>
</div>
