<p>responsive works!</p>
    
<h1>Responsive deber 2</h1>
<div class="flex flex-column">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">5</div>
</div>
<div class="grid">
<div class="col-4">
    <div class="flex-column h-4rem bg-primary font-bold text-center p-4 border-round">1</div>
</div>
<div class="col-4">  
    <div class="flex-column h-4rem bg-primary font-bold text-center p-4 border-round">3</div>
</div>
</div>


<router-outlet></router-outlet>