

<h1>Deber Cristian Caiza</h1>
<router-outlet></router-outlet>
<h1>Responsive</h1>
<button 
    pButton 
    pRipple 
    label="" 
    class="p-button-success">
    <a routerLink="/responsive">Boton</a>
</button>

<h1>Cards </h1>
<button 
    pButton 
    pRipple 
    label="" 
    class="p-button-success">
   <a routerLink="/cards">Cards</a> 
</button>

<h1>matricez</h1>
<button 
    pButton 
    pRipple 
    label="" 
    class="p-button-success">
   <a routerLink="/matricez">Matricez</a>
</button>
<br>
<h1>Tipos de botones</h1>
<button 
    pButton 
    pRipple 
    label="" 
    class="p-button-success">
   <a routerLink="/boton">Tipos de botones</a>
</button>
<br>
<h1>Carrousel</h1>
<button 
    pButton 
    pRipple 
    label="" 
    class="p-button-success">
   <a routerLink="/carrusel">Carrusel</a>
</button>
<br>
<h1>Formulario</h1>
<button 
    pButton 
    pRipple 
    label="" 
    class="p-button-success">
   <a routerLink="/formulario">Formulario</a>
</button>

